/*Navbar */
ul {
      list-style-type: none;
      margin: 0;
      padding: 17px;
      overflow: hidden;
      background-color: #333;
}

li {
      float: left;
}

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

li a:hover:not(.active) {
      background-color: orange;
}

.active {
      background-color: orange;
}


.index {
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.1em;
}

.index span {
      color: #ffffff;
}

.para {
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.1em;
}



.flex-container {
      display: flex;
      flex-wrap: wrap;
}

.flex-container>div {
      width: 400px;
      height: 400px;
      margin: 10px;
      margin-left: 40px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
      text-align: center;
      border-radius: 48px;
      background: linear-gradient(145deg, #5bc6ff, #4da7db);
      box-shadow: 5px 5px 10px #4494c2,
            -5px -5px 10px #66deff;
      transition: all .3s linear;
}



.card1>img {
      width: 65%;
      height: 65%;
      border-radius: 50%;
}


.logo>img {
      width: 13%;
      height: 13%;
      border-radius: 8%;
      display: block;
      margin-left: auto;
      margin-right: auto;

}

p {
      text-align: center;
      text-transform: uppercase;
      color: pink;

}


body {
      /* background-color: purple;  */
      background: #3952a3;
      color: #485e74;
      height: 100%;
      width: 100%;
      margin: 0;
      /* Full height */
      /* height: 100%;  */

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.card {
      width: 90%;
      border-radius: 5px;
      overflow: hidden;
      background: #fff;
      box-shadow: 1px 1px 18px -8px #263238;
      color: #424242;
      margin: 20px auto;
      padding: 20px;
}



.modal {
      position: absolute;
      /* hide it */
      opacity: 0;
      visibility: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      /* background: rgba(0, 0, 0, 0.7); */
      transition: opacity 500ms;
      visibility: hidden;
      z-index: 1;
}

.modal:target {
      /* show it */
      visibility: visible;
      opacity: 1;
}

.content {
      text-align: center;
      margin: 70px auto;
      padding: 20px;
      background: rgb(107, 105, 231);
      color: #000000;
      border-radius: 5px;
      width: 30%;
      position: relative;
      transition: all 5s ease-in-out;
      position: relative;
      margin: 0 auto;
      top: 35%;
}

.pop-head {
      font-size: 42px;
      line-height: 2;
      letter-spacing: 0.022em;
      font-weight: 600;
      font-style: normal;
}

.closebtn {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
}

.closebtn:hover {
      color: white;
}

.modal .content ul {
      background: rgb(107, 105, 231);
}

@media (min-width: 40rem) {
      .card1 {
            width: 50%;
      }
}


@media (min-width: 56rem) {
      .card1 {
            width: 33.3333%;
      }
}