/*Navbar */
ul {
      list-style-type: none;
      margin: 0;
      padding: 17px;
      overflow: hidden;
      background-color: #333;
}

li {
      float: left;
}

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

li a:hover:not(.active) {
      background-color: orange;
}

.active {
      background-color: orange;
}

/*Navbar end*/
body {
      font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
      margin: 12px 0;
}

.card-container {
      cursor: pointer;
      height: 300px;
      perspective: 600;
      position: relative;
      width: 400px;
}

.card {
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out;
      width: 100%;
}

.card:hover {
      transform: rotateY(180deg);
}

.card .side {
      backface-visibility: hidden;
      border-radius: 6px;
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 100%;
}

.card .back {
      background: #eaeaed;
      color: #0087cc;
      line-height: 150px;
      text-align: center;
      transform: rotateY(180deg);
}



.logo>img {
      width: 13%;
      height: 13%;
      border-radius: 8%;
      display: block;
      margin-left: auto;
      margin-right: auto;

}

p {
      text-align: center;
      text-transform: uppercase;
      color: pink;

}


body {
      /* background-color: purple;  */
      background-image: url("https://i.pinimg.com/originals/6e/d6/3e/6ed63ed7b0a584f17fc114867fbf2708.jpg");
      height: 100%;
      width: 100%;
      margin: 0;
      /* Full height */
      /* height: 100%;  */

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}